<header>
    <section class="izquierda">
        <ul>
            <li><i class="fa-solid fa-bars"></i></li>
            <li class="logo"></li>
            <li>Biblioteca</li>
        </ul>
    </section>
    <section class="derecha">
        <ul>
            <li>Agustin Gonzalez</li>
            <li><i class="fa-solid fa-user"></i></li>
            <li><a href="">Log out</a></li>
        </ul>
    </section>
</header>
<section class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="" class="selected">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="">
                <i class="fa-solid fa-book-open"></i>
                  Alquileres
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-book"></i>
                    Productos
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-regular fa-circle-user"></i>
                    Cuenta
                </a>
            </li>
        </ul>
    </nav>
</section>
