<main class="fondo-login">
    <form (ngSubmit)="registrarse()">
        <p>
            <label for="nombre">Nombre</label>
        </p>
        <p>
            <input type="text" name="nombre" [(ngModel)]="userRegistro.nombre">
        </p>
        <p>
            <label for="primerapellido">Primer Apellido</label>
        </p>
        <p>
            <input type="text" name="primerapellido"  [(ngModel)]="userRegistro.apellido1">
        </p>
        <p>
            <label for="segundoapellido">Segundo Apellido</label>
        </p>
        <p>
            <input type="text" name="segundoapellido" [(ngModel)]="userRegistro.apellido2">
        </p>
        <p>
            <label for="email">Email</label>
        </p>
        <p>
            <input type="text" name="email" email required [(ngModel)]="userRegistro.email">
        </p>
        <p>
            <label for="telefono">Telefono</label>
        </p>
        <p>
            <input type="text" name="telefono" [(ngModel)]="userRegistro.telefono">
        </p>
        <p>
            <label for="fecha">Fecha Nacimiento</label>
        </p>
        <p>
            <input type="date" name="fecha" [(ngModel)]="userRegistro.fechaNacimiento">
        </p>
        <p>
            <label for="usuario">Usuario</label>
        </p>
        <p>
            <input type="text" name="usuario" [(ngModel)]="userRegistro.usuario">
        </p>
        <p>
            <label for="password">Contraseña</label>
        </p>
        <p>
            <input type="text" name="password" [(ngModel)]="userRegistro.password">
        </p>
        <p>
            <label for="password" >Confirmar Contraseña</label>
        </p>
        <p>
            <input type="text" [(ngModel)]="comprobacion" name="password">
        </p>
        <button type="submit" (click)="registrarse()">Registrarse</button>
    </form>
</main>
