<app-menu></app-menu>
<main class="productos">
    <section class="filtros">
        <button (click)="buscar('libro')">Libros</button>
        <button (click)="buscar('pelicula')">Peliculas</button>
        <button (click)="buscar('revista')">Revistas</button>
    </section>
    <form (ngSubmit)="buscarProducto()">
        <label for="nombre">Titulo</label>
        <input type="text" name="nombre" [(ngModel)]="titulo">
        <button type="submit">Buscar</button>
    </form>

    @switch (filtroseleccionado) {
        @case ('libro') {
            <app-tabla-libros #libros></app-tabla-libros>
        }
        @case ('pelicula') {
            <app-tabla-peliculas #peliculas></app-tabla-peliculas>
        }
        @case ('revista') {
            <app-tabla-revistas #revistas></app-tabla-revistas>
        }
        @default {
            <app-tabla-libros #libros></app-tabla-libros>
        }
    }
    
</main>