<app-menu></app-menu>
<main class="productos">
    <section>
        <button (click)="buscar('libro')">Libros</button>
        <button (click)="buscar('pelicula')">Peliculas</button>
        <button (click)="buscar('revista')">Revistas</button>
    </section>
    <form>
        <label for="nombre">Titulo</label>
        <input type="text" name="nombre">
        <button type="submit">Buscar</button>
    </form>

    @switch (filtroseleccionado) {
        @case ('libro') {
            <app-tabla-libros #libros></app-tabla-libros>
        }
        @case ('pelicula') {
            <app-tabla-peliculas #peliculas></app-tabla-peliculas>
        }
        @default {
            <app-tabla-libros #libros></app-tabla-libros>
        }
    }
    
</main>