<app-menu></app-menu>
<main class="alquileres">
<h2>Datos Alquileres</h2>
<table>
    <tr>
        <td>Fecha alta</td>
        <td>Fecha fin</td>
        <td>Tipo</td>
        <td>Titulo</td>
        <td>Acciones</td>
    </tr>
 
        <tr>
            @if (alquilerService.alquilerUsuario!=null) {
                <td>{{alquilerService.alquilerUsuario.fechaAlta | date:'yyyy-MM-dd H:mm'}}</td>
                <td>{{alquilerService.alquilerUsuario.fechaFin | date:'yyyy-MM-dd H:mm'}}</td>
                <td>{{alquilerService.alquilerUsuario.producto?.tipo}}</td>
                <td>{{alquilerService.alquilerUsuario.producto?.titulo}}</td>
                <td><button (click)="devolverProducto(alquilerService.alquilerUsuario.alquiler_id)">Devolver</button></td>
            }
           
        </tr>
    
</table>
</main>