<app-menu></app-menu>
<main class="alquileres">
<h2>Datos Alquileres</h2>
<table>
    <tr>
        <td>Alquiler</td>
        <td>Fecha alta</td>
        <td>Fecha fin</td>
        <td>Tipo</td>
        <td>Titulo</td>
        <td>Acciones</td>
    </tr>
    @for (alquiler of alquilerService.alquileres; track $index) {
        <tr>
            <td>{{$index+1}}</td>
            <td>{{alquiler.fechaAlta | date:'yyyy-MM-dd H:mm'}}</td>
            <td>{{alquiler.fechaFin | date:'yyyy-MM-dd H:mm'}}</td>
            <td>{{alquiler.producto.tipo}}</td>
            <td>{{alquiler.producto.titulo}}</td>
            <td><button>Devolver</button></td>
        </tr>
    }
</table>
</main>