<table>
    <tr>
        <td>Titulo</td>
        <td>Descripción</td>
        <td>ISBN</td>
        <td>Autor</td>
        <td>Editorial</td>
        <td>Unidades</td>
        <td>Alquilar</td>
    </tr>
    @for (libro of libroService.libros; track $index) {
        <tr>
            <td>{{libro.titulo}}</td>
            <td>{{libro.descripcion}}</td>
            <td>{{libro.isbn}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.editorial}}</td>
            <td>{{libro.unidades}}</td>
            <td><button (click)="alquilarLibro(libro.producto_id)">Alquilar</button></td>
        </tr>
    }
</table>
